* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgb(13, 20, 26);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 5px solid rgb(89, 56, 122);
  box-shadow: 1px 1px 6px 1px rgb(148, 138, 156);
  font-family: "Jacques Francois Shadow", cursive;
}

#login {
  align-items: baseline;
}

.navbar-brand img {
  width: 35px;
  height: 35px;
}

.navbar-brand i{
  color: rgb(246, 14, 87);
  font-size: 36px;
}

header {
  border-bottom: #897d9b 3px solid;
  border-radius: 10px;
}

h1 {
  padding: 10px;
  -webkit-text-stroke: 2px rgb(247, 210, 154);
  font-family: "Vampiro One", cursive;
}

body { 
  height: 100vh;
}

.card{
  box-shadow: 1px 1px 10px 1px rgb(133, 150, 168);
}

.card img {
  height: 170px; 
  box-shadow: 20px 10px 50px 0 #ddd9e4;
  border-radius: 5px;
}

.modal-body p {
  font-size: 30px;
  font-family: "Courgette", cursive;
  color: rgb(44, 37, 12);
}

footer {
  align-items: flex-start;
  margin: 50px;
  font-size: 20px
}



